.find {
    font-family: alex Brush, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 40px;
    color :#242520;
}
.ys {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
    color :#242520;
}
.text1 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color :#7d7e7a;
}
.dimargin {
    margin-top:230px;
}
.bg {
    background-color: #f7e5dc;
}
.bg2 {
    background-color: #fed0bf;
}
.bannertext {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    color :#242520;
}
.label {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    color :#242520;
    text-align: center;
}
.footer2 {
    background-color: #fed0be !important; 
    /* background: url('../images/footer.png'); */
    
}
.brand {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    color :#242520;
}
.little {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 10px;
    color :#242520;
    margin-top:-10px;
}
.frv {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color :#242520;
    margin-top:50px;
}

.ftitle {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color :#242520;
    margin-top:50px;
}
.lst {
    list-style: none;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 32px;
    color :#7d7e7a;
}
.last {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    color :#979797;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    align-self: center;
    
}