.find {
    font-family: alex Brush, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 40px;
    color :#242520;
}
.ys {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
    color :#242520;
}
.text1 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color :#7d7e7a;
}
.dimargin {
    margin-top:230px;
}
.bg {
    background-color: #f7e5dc;
}
.bg2 {
    background-color: #fed0bf;
}
.bannertext {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    color :#242520;
}
.label {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    color :#242520;
    text-align: center;
}