body {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    font-family: Poppins, sans-serif;
    letter-spacing: 0px;
    text-align: left;
    color: #3b3d42;
}
html {
    font-size: 16px;
    font-size: 1rem;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html {
    color: -internal-root-color;
}
ul {
    list-style-type: none;
    padding :0;
    margin-top:-80px;
    width : 100%;
    display: table;
    text-align: center;
}
li {
    
    list-style: none;
    display: inline;
    padding :20px;
}
ul li{
    display: inline-block;
    float: none;
}
a {
    text-decoration: none !important;
    color : #000 !important;
    font-family: Poppins, sans-serif;
}
a:hover {
    color : lightcoral !important;
    
}
.carousel .Slide {
    background-color: none !important;
}
