body {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    font-family: Poppins, sans-serif;
    letter-spacing: 0px;
    text-align: left;
    color: #3b3d42;
}
html {
    font-size: 16px;
    font-size: 1rem;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html {
    color: -internal-root-color;
}
.navs {
    list-style-type: none;
    padding :0;
    margin-top:-80px;
    width : 100%;
    display: table;
    text-align: center;
}
.nav {
    
    list-style: none;
    display: inline;
    padding :20px;
}
.navs .nav{
    display: inline-block;
    float: none;
}
a {
    text-decoration: none !important;
    color : #000 !important;
    font-family: Poppins, sans-serif;
}
a:hover {
    color : lightcoral !important;
    
}
.carousel .Slide {
    background-color: none !important;
}

/* CCS Contact*/
.title-contact {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color :#000;
}
.sub-contact {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color :#7d7e7a;
}
.iframe {
    width: 1360px;
    height: 300px;
    border: none;
    position: relative;
 margin-left: -10vw;
}
.left-contact {
    float: left;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.right-contact {
    width: 50%;
    margin-top: 30px;
    float: right;
    margin-right: 10%;
    margin-bottom: 30px;
}


/* for Dresses */
.kepala {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .imgul {
    text-align: center;
    padding: 0;
  }
  
  .imgli{
    
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
  
  li img {
    max-width: 100%;
    height: auto;
  }
  
  .headerDres {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    color :#7d7e7a;
  }
